@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
  }
  
  .wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #28272f;
    color: #cacda1;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span{
    color: #9ba423;

}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #cacda1;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
    color: #9ba423;
}

.menu a:hover {
background-color: #9ba423;
color: #28272f;
transition: ease-in .4s;
}

.main {
   margin: 0 auto;
   width: 80vw;
   height: 80vh;
   display: grid;
   grid-template-columns: repeat(2,1fr); 
   align-items: center;
}

h1 {
    font-size: 2em;
}

span {
    color: #9ba423;
}

.download-cv {
    padding: 10px 20px;
    background-color: #9ba423;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(28, 116, 42, 0.69);
}

.download-cv:hover {
    background-color: #fff;
    box-shadow: none;
}

.main img {
    width: 350px;
    border: 7px solid #9ba423;
    height: 550px;
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 2em;
}

.about-info h2 {
    font-size: 2em;
    color: #28272f;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #9ba423;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}
