@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
  }
  
  .wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #28272f;
    color: #cacda1;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span{
    color: #9ba423;

}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #cacda1;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
    color: #9ba423;
}

.menu a:hover {
background-color: #9ba423;
color: #28272f;
transition: ease-in .4s;
}

.main {
   margin: 0 auto;
   width: 80vw;
   height: 80vh;
   display: grid;
   grid-template-columns: repeat(2,1fr); 
   align-items: center;
}

h1 {
    font-size: 2em;
}

span {
    color: #9ba423;
}

.download-cv {
    padding: 10px 20px;
    background-color: #9ba423;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(28, 116, 42, 0.69);
}

.download-cv:hover {
    background-color: #fff;
    box-shadow: none;
}

.main img {
    width: 350px;
    border: 7px solid #9ba423;
    height: 550px;
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 2em;
}

.about-info h2 {
    font-size: 2em;
    color: #28272f;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #9ba423;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}

.portfolio {
    width: 100vw;
    background-color: #28272f;
    color: #9ba423;
}

.portfolio-headings {
    width: 100vw;
    padding: 5em;
}

.portfolio-headings h2 {
    font-size: 2.5em;
}

.portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    color: #28272f;
    height: 350px;
    background-color: #c1c2c2;
    margin: 1em;
}

.card_img {
    width: 100%;
    height: 150px;
    background-image: url(../portafolio/img/2-original.png);
    background-size: cover;
}

.card_title {
    padding: 20px;
    color: #28272f;
}

.card_proyect-links { 
    display: flex;
    justify-content: space-evenly;
}

.card_proyect-links a {
    color: #28272f;
    text-decoration: none;
}

.card_proyect-links i {
    font-size: 1.5em;
}

.card .project-details {
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}

.card .project-details a {
    text-decoration: none;
    color: #28272f;
    text-transform: uppercase;
}

.proyect-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.contact-section{
    width: 100vw;
    height: 100vh;
    background-color: #28272f;
    color: #cacda1;
}

.contact-headings h2 {
    font-size: 3em;
}

.container-contact {
    padding: 3em;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #c1c2c2;
    color: #c1c2c2;
}

.form textarea {
    height: 150px;
    background: none;
    color: #c1c2c2;
    padding: 1.5em;
    border: 1px solid #c1c2c2;
}

.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #9ba423;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(28, 116, 42, 0.69);
}

.btn-submit:hover {
    background-color: #fff;
    box-shadow: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #c1c2c2;
}

.footer-content h2 {
    font-size: 3em;
}

.footer-content h5 {
    font-size: 1.5em;
}

.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.social-network i {
    font-size: 1.5em;
}


